body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Grid section */
.display_todolist, .todo_grid{
    display: grid;
    grid-template-columns: 200px 200px 150px;
    column-gap: 20px;
    row-gap: 30px;
    margin: auto;
    align-items: center;
}
.todo_grid{
    margin-bottom: 30px;
    align-items: stretch;
}
/*End of Grid section */

/* Buttons section*/
.add_btn{
    padding:8px 12px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition:background-color 0.4s ;
}
.add_btn:hover{
    background-color: rgb(13, 51, 13);
}
.delete_btn{
    padding:10px 12px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgb(219, 5, 5);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition:background-color 0.4s ;
}
.delete_btn:hover{
    background-color: rgb(120, 9, 9);
}
/* End of Buttons section */

/* Input field section */
.todo_name{
    font-size: 24px;
    padding-left:15px ;
}
.todo_date{
    font-size: 24px;
    padding-left:15px ;
    padding-right: 10px;
}
/*End of Input field section */

/* Other section */
.div_name, .div_date{
    font-size: 24px;
    float: left;
}
