body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btns {
  margin: 20px;
}

.btns button {
  margin: 10px;
  padding: 10px 30px;
  background-color: rgb(0, 0, 0);
  border: solid;
  color: white;
  cursor: pointer;
}

.toast {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.js-toast-msg {
  width: 200px;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  margin: 10px;
  font-size: 20px;
}

.toast-green i {
  color: green;
}

.toast-red i {
  color: red;
}

.toast-yellow i {
  color: rgb(255, 157, 0);
}
